{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{!-- <main class='main'>
  {{#with data}}
    <div class='main_content'>
      <h1 class='title title-center'>Додати до плейлиста</h1>

      <a href='/spotify-playlist-add?playlistId=={{playlistId}}' class='add-button'>
        <img src='/svg/add_button.svg' />
        Додати до плейлиста
      </a>

      <ul class='track_list'>
        {{#each tracks}}
          <li class='track'>
            <img src='{{image}}' alt='{{name}}' />
            <div class='track_content'>
              <strong class='track_name'>{{name}}</strong>
              <em class='track_author'>{{author}}</em>
            </div>
            <a href="/spotify-track-delete?playlistId={{../playlistId}}&trackId={{id}}">
            <img src="/svg/delete_button.svg">
            </a>
          </li>
        {{/each}}
      </ul>

    </div>
  {{/with}}
</main> --}}

<main class='main'>
  <section class='main_content playlist'>
    {{#with data}}
      <h1 class='title'>Додати до плейлиста</h1>

      <ul class='track-list'>
        {{#each tracks}}
          <li class='track'>
            <img src='{{image}}' class='track_image' />
            <div class='track_content'>
              <strong class='track_title'>{{name}}</strong>
              <p class='track_text'>{{author}}</p>
            </div>
            {{!-- <a href="/spotify-track-add?playlistId={{../playlistId}}&trackId={{id}}">
            <img src="/svg/tabler_plus.svg" class="track_icon">
            </a> --}}

            <form>
              <input type="hidden" name="playlistId" value="{{../playlistId}}">
              <input type="hidden" name="tarckId" value="{{id}}">
              <button type="submit">
                <img src="/svg/tabler_plus.svg" class="track_icon">
              </button>
            </form>
          </li>
        {{/each}}
      </ul>

    {{/with}}
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}