<section>
  <div class='form'>
    <h1 class='form_title'>Список товарів</h1>
    <div class='product-list'>
      {{#with data.products}}
        {{#if isEmpty}}
          <mark>Список товарів пустий</mark>
        {{else}}
          <ul class='cards'>
            {{#each list}}
              <li>
                <div class='card' style='width: 18rem;'>
                  <div class='card-body'>
                    <h5 class='card-title'>{{name}}
                    </h5>
                    <p class='card-text'>{{description}}
                    </p>
                    <div class='card_id'>ID: {{id}}</div>
                    <div class='card-price'>{{price}}
                      ₴</div>
                    <a
                      href='/product-edit?id={{id}}'
                      class='card-link'
                    >Редагувати</a>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      {{/with}}
    </div>
  </div>
</section>