{{!-- <div class='card'>
  <div class='card_content'>
    <label class='card_name'>{{name}}</label>
    <p class='card_description'>{{description}}</p>
    <div class='card_id'>ID: {{id}}</div>
    <div class='card_price'>{{price}}</div>
  </div>
</div>

<section>
  <div class='form'>
    <h1 class='form_title'>Список товарів</h1>
    <div class='product-list'>
      {{#with data.products}}
        {{#if isEmpty}}
          <mark>Список товарів пустий</mark>
        {{else}}
          <ul>
            {{#each list}}
              <li>{{name}}
                |
                {{price}}
                |
                {{description}}
                <a
                  href='/product-delete?id={{id}}'
                >(видалити)</a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      {{/with}}
    </div>
  </div>
</section> --}}